<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Perfiles" value="Default;Profile 1;Profile 2"/>
    <add key="RutaLocal" value="C:\Users\<usuario>\AppData\Local\BraveSoftware\Brave-Browser\User Data"/>
    <add key="RutaServidor" value="<Ruta navegador servidor>"/>
    <add key="Archivos" value="History;Current Session;Current Tabs;Last Session;Last Tabs;Bookmarks"/>
    <add key="RutaServidorAux" value="<Servidor auxiliar en caso de no poder escribir sobre el definitivo>"/> 
  </appSettings>
</configuration>